@model RahatBookAplikacija.Models.Rezervacija

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idKorisnika" class="control-label"></label>
                <input asp-for="idKorisnika" class="form-control" />
                <span asp-validation-for="idKorisnika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idSJ" class="control-label"></label>
                <input asp-for="idSJ" class="form-control" />
                <span asp-validation-for="idSJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dolazak" class="control-label"></label>
                <input asp-for="dolazak" class="form-control" />
                <span asp-validation-for="dolazak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="odlazak" class="control-label"></label>
                <input asp-for="odlazak" class="form-control" />
                <span asp-validation-for="odlazak" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ekskurzija" /> @Html.DisplayNameFor(model => model.ekskurzija)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
