@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na Rahat Book!</h1>
    <p>
        <h2>
            Želite rezervisati smjestaj? Vlasnik ste smjestaja i zelite ga registrovati?
        </h2>
        <h2>
            RahatBook je aplikacija za Vas!
        </h2>
    </p>
</div>
